Pyomo>=6.7.1
numpy<2.0.0
dill>=0.3.8
pandas>=2.2.2
requests>=2.31.0
timezonefinder>=6.5.0
statsmodels>=0.14.1
pvlib>=0.10.4
scipy>=1.13.0
setuptools>=69.2.0
matplotlib>=3.8.4
openpyxl>=3.1.2
pytest>=8.1.1
scikit-learn>=1.4.2
pwlf>=2.2.1
gurobipy>=11.0.1
scandir>=1.10.0
tables>=3.9.2
pre-commit>=3.7.0
black>=24.4.0
tsam>=2.3.1
sphinx>=7.3.7
sphinx_rtd_theme>=2.0.0
