name: Autoformatting

on:
  pull_request:
    branches:
      - 'develop**'
      - main
  push:
    branches:
      - 'input_data**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "./src"
