name: Testing

on:
  workflow_call:

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]
        python-version: [3.12, 3.13]

    steps:
    - name: Install GLPK Solver
      run: | 
        choco install glpk

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install --without dev

    - name: Check directory
      run: |
        python -c "import os; print(os.listdir()); print(os.getcwd())"

    - name: Test
      run: |
        poetry run coverage run -m pytest

    - name: Build coverage report
      run: |
        poetry run coverage report -m >"coverage-${{ matrix.python-version }}.txt"

    - name: Upload Coverage Report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: "coverage-${{ matrix.python-version }}.txt"
